.container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.main_card {
  text-align: center;
  width: max-content;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.name {
 font-size: x-large;
 text-align: center;
 font-size: 50px;
}

.temp {
  font-size: 70px;
  text-align: center;
}

.condition {
  font-size: 35px;
  text-align: center;
}

.wind {
  font-size: 23px;
  text-align: center;
}

.humidity {
  font-size: 23px;
  text-align: center;
}

body {
  background-color: #222; 
  color: #fff;
}

.current_icon {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 870px;
  top: 140px;
}

.tempf {
  font-size: 50px;
  text-align: center;
}

.conditionf {
  font-size: 30px;
  text-align: center;
}

.humidityf {
  font-size: 18px;
  text-align: center;
}

.date {
  font-size: 25px;
  text-align: center;
}

.forecast_icon {
  
}