.container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.main_card {
  width: max-content;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.name {
 font-size: x-large;
 text-align: center;
 font-size: 50px;
}

.temp {
  font-size: 70px;
  text-align: center;
}

.condition {
  font-size: 35px;
  text-align: center;
}

.wind {
  font-size: 23px;
  text-align: center;
}

.humidity {
  font-size: 23px;
  text-align: center;
}

body {
  background-color: #222; 
  color: #fff;
}

.current_icon {
  position: absolute;
  top: 220px;
  left: 440px;
  width: 100px;
  height: 100px;
}